.services {
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-card {
    background: #FFF;
     box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
    padding: 0px 0px 40px 0px !important;
    border-radius: 6px;
    transition: .2s;
}

.service-card:hover {
   background: #FFF;
   scale: 1.05;
   cursor: pointer;
  
}

.items {
    padding-top: 50px !important;
}

.icon {
  font-size: 80px;
}

.s_h2 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.s_h3 {
    font-family: "Raleway", sans-serif !important;
    padding-top: 15px;
    font-size: 22px;
}

.s_p {
    padding-top: 10px;
}

.service_img {
    /* border-radius: 40px; */
}
.service_img img {
    border-radius: 6px 6px 0px 0px;
}

@media (max-width: 575.98px) { 

    .services {
    padding-top: 40px;
      padding-bottom: 40px;
}

.service-card {
    padding: 0px 40px 40px 40px;
    margin-bottom: 60px;
}

.s_h3 {
    font-family: "Raleway", sans-serif !important;
    padding-top: 15px;
    font-size: 18px;
    line-height: 25px !important;
}

.service-card:last-child {
    margin-bottom: 20px;
}
}


@media (min-width: 576px) and (max-width: 767.98px) {
 
}

@media (min-width: 768px) and (max-width: 991.98px) {
 .services {
    padding-top: 70px;
}
.s_h3 {
    font-family: "Raleway", sans-serif !important;
    padding-top: 15px;
    font-size: 16px;
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .services {
    padding-top: 80px;
}
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
 
}

@media (min-width: 1400px)  {

}